<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Attendance Record</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="assets/css/jquery-ui.custom.min.css" />
		<link rel="stylesheet" href="assets/css/chosen.css" />
		<link rel="stylesheet" href="assets/css/datepicker.css" />
		<link rel="stylesheet" href="assets/css/bootstrap-timepicker.css" />
		
		<!-- text fonts -->
		<link rel="stylesheet" href="assets/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="assets/css/ace.min.css" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.min.css" />
		<![endif]-->
		<link rel="stylesheet" href="assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="assets/css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="assets/js/ace-extra.min.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="no-skin">
		
		<div id="navbar" class="navbar navbar-default    navbar-collapse">
			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<!-- #section:basics/navbar.layout.brand -->
					<a href="#" class="navbar-brand">
						<small>
							Attendance Record
						</small>
					</a>

					<!-- /section:basics/navbar.layout.brand -->

					<!-- #section:basics/navbar.toggle -->
					<button class="pull-right navbar-toggle navbar-toggle-img collapsed" type="button" data-toggle="collapse" data-target=".navbar-buttons">
						<span class="sr-only">Toggle user menu</span>
					</button>

					<button class="pull-right navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".sidebar">
						<span class="sr-only">Toggle sidebar</span>

						<span class="icon-bar"></span>

						<span class="icon-bar"></span>

						<span class="icon-bar"></span>
					</button>

					<!-- /section:basics/navbar.toggle -->
				</div>
			</div><!-- /.navbar-container -->
		</div>

	
		<div class="main-container" id="main-container">
			<!-- #section:basics/sidebar -->
			<div id="sidebar" class="sidebar navbar-collapse collapse">
				<ul class="nav nav-list">
					<li class="">
						<a href="index.html">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Home </span>
						</a>
					</li>

					<li class="">
						<a href="#" >
							<i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text"> Record </span>
						</a>
					</li>
					<li class="">
						<a href="javascript:logout();" >
							<i class="menu-icon fa fa-sign-out"></i>
							<span class="menu-text"> Log out </span>
						</a>						
					</li>
				</ul><!-- /.nav-list -->
			</div>

			<!-- /section:basics/sidebar -->
			<div class="main-content ">
				<div class="space-4"></div>
				<div class="col-xs-12">
					<div class="widget-main padding-6" th:each="msg : ${msgs}">
						<div class="alert alert-danger">
							<p th:text="${msg}"></p> 
						</div>
					</div>
					<!-- PAGE CONTENT BEGINS -->
					<form class="form-horizontal" role="form" method="post" action="listRecord.html" id="mainForm">
						<!-- #section:elements.form -->
						<div class="form-group">
							<label class="col-sm-3 col-xs-3 col-md-3  control-label no-padding-right"> <b>Dept.:</b> </label>
							<div class="col-sm-9 col-xs-9 col-md-9">
								<label class="control-label no-padding-right" > <b th:text="@{${user.depID} +' '+${user.depName}}">xxxx</b></label>
							</div>
						</div>
	
						<div class="form-group">
							<label class="col-sm-3 col-xs-3 control-label no-padding-right"> <b>Emp.:</b> </label>
	
							<div class="col-sm-9 col-xs-9">
								<label class="control-label no-padding-right" > <b th:text="@{${user.ename} +' '+${user.cname}}">OOOOO XXXXX</b></label>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-3 col-xs-3 control-label no-padding-right"> <b>Start Date:</b> </label>
	
							<div class="col-sm-9 col-xs-9">
								<div class="input-group">
									<input class="form-control date-picker" id="calSDate" name="calSDate" type="text" th:value="${calSDate}" data-date-format="yyyy/mm/dd" readonly/>
									<span class="input-group-addon">
										<i class="fa fa-calendar bigger-110"></i>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 col-xs-3 control-label no-padding-right"> <b>End Date:</b> </label>
	
							<div class="col-sm-9 col-xs-9">
								<div class="input-group">
									<input class="form-control date-picker" id="calEDate" name="calEDate" type="text" th:value="${calEDate}" data-date-format="yyyy/mm/dd" readonly/>
									<span class="input-group-addon">
										<i class="fa fa-calendar bigger-110"></i>
									</span>
								</div>
							</div>
						</div>
						
						<div class="form-group" style="text-align: right;padding-right: 15px;">
							<button class="btn btn-sm btn-primary" id="btnSubmit">Submit</button>
						</div>

						<input type="hidden" name="_csrf"  th:value="${_csrf.token}" value="">
					</form>
				</div>
				<div class="row">
	                 <div class="col-xs-12">
	                  <table id="tabDataTable" class="table table-striped table-bordered table-hover" >
	                      <thead>
	                          <tr>
	                              <th>Date Time</th>
	                              <th>Activity</th>
	                              <th>Desc.</th>
	                              <!-- <th>Create Time</th> -->
	                          </tr>
	                      </thead>
	                      <tbody>
	                          <tr th:each="record : ${records}">
	                              <td th:text="${#dates.format(record.punchDateTime, 'yyyy/MM/dd HH:mm')}"></td>
	                              <td th:text="${record.punchTypeName}"></td>
	                              <td th:text="${record.otherDesc}"></td>
	                              <!--<td th:text="${#dates.format(record.createDateTime, 'yyyy/MM/dd HH:mm')}"></td> -->
	                          </tr>
	                      </tbody>
	                  </table>
	              	</div>
	             </div>
			</div><!-- /.main-content -->
			
			

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='assets/js/jquery1x.min.js'>"+"<"+"/script>");
		</script>
		<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="assets/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->
		<script src="assets/js/jquery-ui.custom.min.js"></script>
		<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="assets/js/date-time/bootstrap-datepicker.min.js"></script>
		<script src="assets/js/date-time/bootstrap-timepicker.min.js"></script>
		<script src="assets/js/date-time/moment.min.js"></script>
		
        
		<!-- ace scripts -->
		<script src="assets/js/ace-elements.min.js"></script>
		<script src="assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
        <script type="text/javascript">
        
        ace.vars['base'] = '..'; 
        var paraName = '[[${_csrf.parameterName}]]';
		var t = '[[${_csrf.token}]]';
		var punchTime = null;
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
		jQuery(function($) {
			$('#calSDate').datepicker({
				autoclose: true,
				todayHighlight: true,
				todayBtn:true,
				setDate:today
			});		
			$('#calEDate').datepicker({
				autoclose: true,
				todayHighlight: true,
				todayBtn:true,
				setDate:today
			});	
			
			$("#btnSubmit").click(function(e){
				
			});
		});
		
		function logout(){
    		$.ajax({
   			  type: 'POST',
   			  url: 'perform_logout',
   			  data: {_csrf:t},
   			  success: function(res){
   				window.location.href = "login_page.html";
   			  }
   			});
    	}
		
        </script>


	</body>
</html>
